@use '@gravity-ui/uikit/styles/themes';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}


.g-root {
    @include themes.g-theme-common;
    
    
    --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --g-font-family-monospace: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
    
    
    &_theme_light {
        @include themes.g-theme-light;

        --g-color-private-brand-50: rgba(255,92,92,0.1);
        --g-color-private-brand-100: rgba(255,92,92,0.15);
        --g-color-private-brand-150: rgba(255,92,92,0.2);
        --g-color-private-brand-200: rgba(255,92,92,0.3);
        --g-color-private-brand-250: rgba(255,92,92,0.4);
        --g-color-private-brand-300: rgba(255,92,92,0.5);
        --g-color-private-brand-350: rgba(255,92,92,0.6);
        --g-color-private-brand-400: rgba(255,92,92,0.7);
        --g-color-private-brand-450: rgba(255,92,92,0.8);
        --g-color-private-brand-500: rgba(255,92,92,0.9);
        --g-color-private-brand-550-solid: rgb(255,92,92);
        --g-color-private-brand-1000-solid: rgb(67,38,43);
        --g-color-private-brand-950-solid: rgb(78,42,46);
        --g-color-private-brand-900-solid: rgb(100,48,51);
        --g-color-private-brand-850-solid: rgb(122,54,57);
        --g-color-private-brand-800-solid: rgb(145,61,63);
        --g-color-private-brand-750-solid: rgb(167,67,69);
        --g-color-private-brand-700-solid: rgb(189,73,75);
        --g-color-private-brand-650-solid: rgb(211,79,80);
        --g-color-private-brand-600-solid: rgb(233,86,86);
        --g-color-private-brand-500-solid: rgb(255,108,108);
        --g-color-private-brand-450-solid: rgb(255,125,125);
        --g-color-private-brand-400-solid: rgb(255,141,141);
        --g-color-private-brand-350-solid: rgb(255,157,157);
        --g-color-private-brand-300-solid: rgb(255,174,174);
        --g-color-private-brand-250-solid: rgb(255,190,190);
        --g-color-private-brand-200-solid: rgb(255,206,206);
        --g-color-private-brand-150-solid: rgb(255,222,222);
        --g-color-private-brand-100-solid: rgb(255,231,231);
        --g-color-private-brand-50-solid: rgb(255,239,239);
        
        
        --g-color-base-brand: rgb(255,92,92);
        --g-color-base-background: rgb(255,255,255);
        --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
        --g-color-base-selection: var(--g-color-private-brand-200);
        --g-color-base-selection-hover: var(--g-color-private-brand-300);
        --g-color-line-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-contrast: rgb(255, 255, 255);
        --g-color-text-link: var(--g-color-private-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-orange-800-solid);
        --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
        --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    }

    &_theme_dark {
        @include themes.g-theme-dark;

       --g-color-private-brand-50: rgba(255,92,92,0.1);
        --g-color-private-brand-100: rgba(255,92,92,0.15);
        --g-color-private-brand-150: rgba(255,92,92,0.2);
        --g-color-private-brand-200: rgba(255,92,92,0.3);
        --g-color-private-brand-250: rgba(255,92,92,0.4);
        --g-color-private-brand-300: rgba(255,92,92,0.5);
        --g-color-private-brand-350: rgba(255,92,92,0.6);
        --g-color-private-brand-400: rgba(255,92,92,0.7);
        --g-color-private-brand-450: rgba(255,92,92,0.8);
        --g-color-private-brand-500: rgba(255,92,92,0.9);
        --g-color-private-brand-550-solid: rgb(255,92,92);
        --g-color-private-brand-1000-solid: rgb(255,231,231);
        --g-color-private-brand-950-solid: rgb(255,222,222);
        --g-color-private-brand-900-solid: rgb(255,206,206);
        --g-color-private-brand-850-solid: rgb(255,190,190);
        --g-color-private-brand-800-solid: rgb(255,174,174);
        --g-color-private-brand-750-solid: rgb(255,157,157);
        --g-color-private-brand-700-solid: rgb(255,141,141);
        --g-color-private-brand-650-solid: rgb(255,125,125);
        --g-color-private-brand-600-solid: rgb(255,108,108);
        --g-color-private-brand-500-solid: rgb(233,86,86);
        --g-color-private-brand-450-solid: rgb(211,79,80);
        --g-color-private-brand-400-solid: rgb(189,73,75);
        --g-color-private-brand-350-solid: rgb(167,67,69);
        --g-color-private-brand-300-solid: rgb(145,61,63);
        --g-color-private-brand-250-solid: rgb(122,54,57);
        --g-color-private-brand-200-solid: rgb(100,48,51);
        --g-color-private-brand-150-solid: rgb(78,42,46);
        --g-color-private-brand-100-solid: rgb(67,38,43);
        --g-color-private-brand-50-solid: rgb(56,35,40);
        
        
        --g-color-base-brand: rgb(255,92,92);
        --g-color-base-background: rgb(34,29,34);
        --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
        --g-color-base-selection: var(--g-color-private-brand-150);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);
        --g-color-line-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-contrast: rgb(255, 255, 255);
        --g-color-text-link: var(--g-color-private-brand-550-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
        --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
        --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    }
}